/* Inserta tu código aqui */


body {
    font-size: 15px;
    color: #2c3e50;
    background-color: white;
}

.container
{
	margin-left: 18px;
	margin-right: 19px;
	
}


.


 a {
 color: black;
 text-decoration: none;
}

.navbar-default {
    background-color: #304961;



}
.lista li
{
	display: inline-block;
	text-decoration: none;
}


.cont
{
background-color:#1DDCB7;
padding-top: 120px;
}

.cont h2 ,p
{
color :white;

}
.texto p
{
color: black;
text-align: left;
}

.texto
{
	padding-top: 40px;
}
.texto h3
{
	font-weight: bold;
}

.contac
{
	padding-top: 30px;
}
.contac p
{
color: black;

}
button
{
	background-color: #3AE2C2;
	border-radius: 5px;
}

.futter
{
margin-top: 30px;
	background-color: #304961;
	height: 200px;
}
.futter h5 
{
	color: white;
	font-weight: bold;
}

.futter i
{
	font-size:20px;
	color: white; 
	border-radius: 6px white;

}

.col-lg-8
{
	padding-right: 40px;
	padding-left: 40px;
}



.conte
{
	padding-top: 150px;
	background-color: #18BC9C;
	height: 200px;
}